@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EJERCICIO TÉCNICO PROCESO SELECCIÓN BINSA SOFTWARE</h1>
    <p>En la parte superior izquierda se encuentra la opción de clientes.</p>
</div>
